<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings>
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\SQLITE\BD\db_SeguimientoProtocolo_r2.s3db&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2008r2;initial catalog=db_SeguimientoProtocolo_r2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=db_SeguimientoProtocolo_r2;User=sa; Password=Passw0rd1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=db_SeguimientoProtocolo_r2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2008R2;initial catalog=db_SeguimientoProtocolo_r2;User=sa;Password=Passw0rd1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="masterEntities" connectionString="metadata=res://*/Conexion.MasterConexion.csdl|res://*/Conexion.MasterConexion.ssdl|res://*/Conexion.MasterConexion.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TO1702\SQLSERVER2008R2;initial catalog=master;persist security info=True;user id=sa;password=Passw0rd1!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
