<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\SQLITE\BD\db_SeguimientoProtocolo_r2.s3db&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2008r2;initial catalog=db_SeguimientoProtocolo_r2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=db_SeguimientoProtocolo_r2;User=sa; Password=Passw0rd1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=db_SeguimientoProtocolo_r2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2008R2;initial catalog=db_SeguimientoProtocolo_r2;User=sa;Password=Passw0rd1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>