<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>
  
  <connectionStrings>
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\SQLITE\BD\db_SeguimientoProtocolo_r2.s3db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <appSettings>
    
    <!--SERVICIOS-->
    <add key="RutaServicioDescarga" value="http://localhost:2576/Services/Broadcast.svc"/>
    <add key="RutaServicioSubida" value="http://localhost:2576/Services/Receiver.svc"/>
    
    <!--AUTH-->
    <add key="basicAuthUser" value="ISAAC"/>
    <add key="basicAuthPass" value="Password1!"/>
    
    <!--TIMER PARA DESPERATR LOS HILOS-->
    <add key="SyncTime" value="120"/>
    <add key="SyncTimeSol" value="10"/>
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  
</configuration>