<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--local-->
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=db_SeguimientoProtocolo_r2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtellServer.csdl|res://*/POCOS.EntityProtellServer.ssdl|res://*/POCOS.EntityProtellServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2008r2;initial catalog=db_SeguimientoProtocolo_r2;User ID=sa; Password=isaac;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <system.web>
    <httpRuntime maxRequestLength="153600" executionTimeout="900" />
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <authorization>
      <deny users="?" />
    </authorization>

  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="157286400" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
  </system.webServer>
  <system.serviceModel>
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AuthBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="AuthBehavior" name="Protell.Service.Services.Receiver">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Protell.Service.Services.IReceiver" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior"  bindingConfiguration="webhttpbiding" contract="Protell.Service.Services.IReceiver" />
      </service>
      
      <service behaviorConfiguration="AuthBehavior" name="Protell.Service.Services.Broadcast">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Protell.Service.Services.IBroadcast" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior"  bindingConfiguration="webhttpbiding" contract="Protell.Service.Services.IBroadcast" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
			maxStringContentLength="2147483647"
			maxArrayLength="2147483647"
			maxBytesPerRead="2147483647"
			maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webhttpbiding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647"
          maxStringContentLength="2147483647"
          maxArrayLength="2147483647"
          maxBytesPerRead="2147483647"
          maxNameTableCharCount="2147483647" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>
