<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--local-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qaDevinmr3.db.11067432.hostedresource.com;initial catalog=qaDevinmr3;user id=qaDevinmr3;password=Inmeta2013!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=demodevinmr3.db.11067432.hostedresource.com;initial catalog=demodevinmr3;user id=demodevinmr3;password=Inmeta2014!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qaDevinmr3.db.11067432.hostedresource.com;initial catalog=qaDevinmr3;user id=qaDevinmr3;password=Inmeta2013!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devinmr3.db.11067432.hostedresource.com;initial catalog=devinmr3;user id=devinmr3;password=Passw0rd!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2008r2;initial catalog=devinmr3Local;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>