<?xml version="1.0" encoding="utf-8"?>
<configuration>
 
  <connectionStrings>
    <!--local-->
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qaDevinmr3.db.11067432.hostedresource.com;initial catalog=qaDevinmr3;user id=qaDevinmr3;password=Inmeta2013!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=qaDevinmr3.db.11067432.hostedresource.com;initial catalog=qaDevinmr3;user id=qaDevinmr3;password=Inmeta2013!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devinmr3.db.11067432.hostedresource.com;initial catalog=devinmr3;user id=devinmr3;password=Passw0rd!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/POCOS.EntityProtell.csdl|res://*/POCOS.EntityProtell.ssdl|res://*/POCOS.EntityProtell.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2008r2;initial catalog=devinmr3Local;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  
  <system.web>
    <httpRuntime maxRequestLength="153600" executionTimeout="900" />
    <compilation debug="true" targetFramework="4.0" />
    <pages validateRequest="false" />
    <identity impersonate="false" />
    <authentication mode="None" />
    <authorization>
      <!--<allow users="?" />-->
      <allow users="?"/> 
    </authorization>
    <customErrors mode="Off" defaultRedirect="GenericError.htm">
    </customErrors>
  </system.web>
  
  
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="157286400" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
    <staticContent>
      <remove fileExtension=".kml" />
      <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
    </staticContent>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>-->
  </system.webServer>
  
  <system.serviceModel>
    <client />
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="AuthBehavior">
          <webHttp />
        </behavior>
        <behavior name="RestBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="AuthBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <!--V1-->
      <service behaviorConfiguration="AuthBehavior" name="Protell.Service.Services.Receiver">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Protell.Service.Services.IReceiver" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior" bindingConfiguration="webhttpbiding" contract="Protell.Service.Services.IReceiver" />
      </service>
      <service behaviorConfiguration="AuthBehavior" name="Protell.Service.Services.Broadcast">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Protell.Service.Services.IBroadcast" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior" bindingConfiguration="webhttpbiding" contract="Protell.Service.Services.IBroadcast" />
      </service>
      <!--V2 ICA-->
      <service behaviorConfiguration="AuthBehavior" name="Protell.Service.Services.Download">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Protell.Service.Services.IDownload" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior" bindingConfiguration="webhttpbiding" contract="Protell.Service.Services.IDownload" />
      </service>
      <service behaviorConfiguration="AuthBehavior" name="Protell.Service.Services.Upload">
        <endpoint address="basic" binding="basicHttpBinding" bindingConfiguration="basicBinding" contract="Protell.Service.Services.IUpload" />
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="AuthBehavior" bindingConfiguration="webhttpbiding" contract="Protell.Service.Services.IUpload" />
      </service>

    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="basicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webhttpbiding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None" />
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  
  <appSettings>
    <!--SETTINGS-->
    <!--<add key="DeactivateSettigs" value="1"/>
    <add key="GDataSpreadsheetKey" value="0AkcC-SefOy1mdGdORnVSTFpBQ1BQZV9WZmRZdHNBOGc"/>
    <add key="GDataUserName" value="jc750521@gmail.com"/>
    <add key="GDataUserPassword" value="jc910902"/>
    <add key="GDataSpreadSheetName" value=" Copia de Copia de EstructuraProtocoloGD4"/>
    <add key="GDataWorksheetId" value="Hoja 1"/>
    <add key="Valor" value="-50"/>
    <add key="ErrorResetCycle" value="-5"/>-->
    <add key="GDataSpreadsheetKey" value="0AkcC-SefOy1mdHlaLTdzMTd6VXdkMkNkbWVxU3BQRFE" />
    <add key="GDataUserName" value="jc750521@gmail.com" />
    <add key="GDataUserPassword" value="jc910902" />
    <add key="GDataSpreadSheetName" value="20130611 - Ccc estructura gd5" />
    <add key="GDataWorksheetId" value="Hoja 1" />
    <add key="Valor" value="-25" />
    <add key="ErrorResetCycle" value="-5" />
  </appSettings>
  
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
