<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name="System.Windows.Data" switchName="mySwitch">
        <listeners>
          <add name="myListener" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="mySwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="DataBindingTrace.txt" />
    </sharedListeners>
  </system.diagnostics>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    <requiredRuntime version="v4.0.20506" />
  </startup>

  <system.net>
    <defaultProxy enabled="true" useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  
  <connectionStrings>
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2008R2;initial catalog=db_SeguimientoProtocolo_r2;User=sa;Password=Passw0rd1!;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLSERVER2008R2;initial catalog=db_SeguimientoProtocolo_r2;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
  </connectionStrings>
  
  <appSettings>
    
    <!--SERVICIOS-->
    <!--<add key="RutaServicioDescarga" value="http://devinmservices.com/Services/Services/Broadcast.svc" />
    <add key="RutaServicioSubida" value="http://devinmservices.com/Services/Services/Receiver.svc" />-->

    
    <add key="RutaServicioDescarga" value="http://devinmservices.com/qasservice/Services/Download.svc" />
    <add key="RutaServicioSubida" value="http://devinmservices.com/qasservice/Services/Upload.svc" />
    
    <!--AUTH-->
    <!--<add key="basicAuthUser" value="Devi6688"/>
    <add key="basicAuthPass" value="Lmx1254#"/>-->
    <add key="basicAuthUser" value="Administrador" />
    <add key="basicAuthPass" value="Passw0rd1!" />
    
    <!--TopLog-->
    <add key="TopLog" value="5" />
    
    <!--TIMER PARA DESPERATR LOS HILOS-->
    <add key="SyncTime" value="30" />
    <add key="SyncTimeSol" value="10" />
    <add key="ContSettings" value="1" />

    <!--Factory Download-->
    <add key="APP_ROL" value="AppRolRepository" />
    <add key="APP_USUARIO" value="AppUsuarioRepository" />
    <add key="APP_USUARIO_ROL" value="AppUsuarioRolRepository" />
    <add key="CAT_AGRUPADOR_ISOYETA" value="CatAgrupadorIsoyetasRepository" />
    <add key="CAT_CONDPRO" value="CatCondProRepository" />
    <add key="CAT_DEPENDENCIA" value="CatDependenciaRepository" />
    <add key="CAT_SISTEMA" value="CatSistemaRepository" />
    <add key="CAT_UNIDAD_MEDIDA" value="CatUnidadMedidaRepository" />
    <add key="CAT_TIPO_PUNTO_MEDICION" value="CatTipoPuntoMedicionRepository" />
    <add key="CAT_LINKS" value="CatLinksRepository" />
    <add key="CAT_PUNTO_MEDICION_MAX_MIN" value="CatPuntoMedicionMaxMinRepository" />
    <add key="CAT_PUNTO_MEDICION" value="CatPuntoMedicionRepository" />
    <add key="CAT_ESTRUCTURA" value="CatEstructuraRepository" />
    <add key="REL_ESTRUCTURA_DEPENDENCIA" value="RelEstructuraDependenciaRepository" />
    <add key="REL_EST_PUNTOMED" value="RelEstPuntoMedRepository" />
    <add key="CAT_OPERACION_ESTRUCTURA" value="CatOperacionEstructuraRepository" />
    <add key="CI_REGISTRO" value="CiRegistroRepository" />
    <add key="CI_TRACKING" value="CiTrakingRepository" />
    
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
