<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="db_SeguimientoProtocolo_r2Entities" connectionString="metadata=res://*/Protelldb.csdl|res://*/Protelldb.ssdl|res://*/Protelldb.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\SQLITE\BD\db_SeguimientoProtocolo_r2.s3db&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>